/* body, h1, p, menu, a, .pluses {
    margin: 0;
}
*{
    box-sizing: border-box;
}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} */

image {
	size: 100%;
}

@font-face {
	font-family: 'Montserrat Semibold';
	src: url(/style/fonts/Montserrat-SemiBold.eot);
	src: url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url(/style/fonts/Montserrat-SemiBold.woff) format('woff'),
		url(/style/fonts/Montserrat-SemiBold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Neue Machina Bold;
	src: url(style/fonts/NeueMachina-Bold.ttf) format('ttf');
	src: url(style/fonts/NeueMachina-Bold.woff) format('woff');
	src: url(style/fonts/NeueMachina-Bold.woff2) format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Graphik LCG Regular;
	src: url(style/fonts/GraphikLCG-Regular.ttf);
	src: url(style/fonts/GraphikLCG-Regular.woff);
	src: url(style/fonts/GraphikLCG-Regular.woff2);
}

@font-face {
	font-family: Montserrat Medium;
	src: url(style/fonts/Montserrat-Medium.ttf);

}

@font-face {
	font-family: 'Montserrat Regular';
	src: url(/style/fonts/Montserrat-Regular.eot);
	src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url(/style/fonts/Montserrat-Regular.woff) format('woff'),
		url(/style/fonts/Montserrat-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Light';
	src: url(/style/fonts/Montserrat-Light.eot);
	src: url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url(/style/fonts/Montserrat-Light.woff) format('woff'),
		url(/style/fonts/Montserrat-Medium.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Habibi;
	src: url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');
}

@font-face {
	font-family: 'Roboto Light';
	src: url(/style/fonts/Roboto-Light.eot);
	src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url(/style/fonts/Roboto-Light.woff) format('woff'),
		url(/style/fonts/Roboto-Light.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* .main {
        
    max-width: 1512px;
    max-height: 4353px;
    margin: 0px 25%;
    background-image: url(style/Rectangle.png);
    background-color: rgba(19, 19, 19,1);
    border-radius: 30px;
} */

body {
	margin: 0;
	background-image: url(style/Rectangle.png);
	background-color: rgba(19, 19, 19, 1);
	border-radius: 30px;
	border: #6100FF;
}

.header {
	/*позиционирование*/
	position: absolute;

	/*block_model*/
	margin-left: 171px;
	padding: 0;
	margin-top: 73px;
	width: 1170px;
	height: 842px;

	/*tipografic*/
	font-family: Neue Machina Bold;
	color: #fff;
	font-family: Montserrat Light;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	/*decoration*/
	/* background-image: url(style/Rectangle.png);
    background-color: rgba(19, 19, 19,1);
    border-radius: 30px;
    border: #6100FF; */

}



.avatar {
	/*position*/
	position: relative;
	left: 10%;

	/*block model*/
	padding-bottom: 0;

	/*position*/
	/*block model*/
	/*tipografic*/
	/*decoration*/
}

.name {

	/*position*/

	/*block model*/
	width: 379px;
	height: 69px;
	/* margin-left: 396px; */

	/*tipografic*/
	font-family: Neue Machina Bold;
	font-size: 72px;
	font-style: normal;
	font-weight: bold;
	line-height: 69px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.description {
	/*tipografic*/
	color: #fff;

	/*block model*/
	width: 1170px;
	height: 84px;
	margin-bottom: 52px;
	padding-top: 23px;

}

.navigation {
	/*position*/
	display: inline-block;


	/*block model*/
	width: 1170px;
	height: 122px;

	/*tipografic*/

	/*decoration*/
	background: linear-gradient(90.74deg, rgba(231, 136, 255, 0.108) 2.62%, rgba(95, 95, 95, 0.088) 87.38%);
	box-shadow: 0px 7px 18px 6px rgba(37, 0, 44, 0.25);
	backdrop-filter: blur(64px);

	border-radius: 24px;


}

.iconstar {
	margin-left: 153px;
	padding-top: 16px;
	padding-bottom: 15px;
	padding-right: 101px;
}

.iconhand {
	padding-top: 16px;
	padding-bottom: 15px;

}

.iconbusiness {
	padding-top: 16px;
	padding-bottom: 15px;
	margin-left: : 104px;
	padding-right: 98px;
}

.iconquestion {
	padding-top: 16px;
	padding-bottom: 15px;
	padding-right: 101px;

}

.iconcontacts {

	padding-top: 16px;
	padding-bottom: 15px;
}

.pluses {
	/*position*/


	/*block model*/
	/* margin: 175px 255px 0px; */
	max-width: 1002px;
	max-height: 307px;
	display: inline-flex;
	justify-content: space-between;


	/*tipografic*/

	font-family: Montserrat Medium;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	/*decoration*/




}

.advantages {
	text-align: center;

}


.services {
	/*position*/
	padding: 52px 0px 0px 0px;

	/*block model*/
	/*  margin: 175px 4%; */
	height: 475px;
	width: 1178px;


	/*tipografic*/
	text-align: left;

	/*decoration*/
	color: #FFFFFF;




}

.services_title {
	font-family: Neue Machina Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 62px;
	/* margin-bottom: 52px; */
}

table {
	border-spacing: 13px 31px;
}

.services_name {
	font-family: Montserrat Medium;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;

}

.price {
	font-family: 'Roboto Light';
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	text-transform: lowercase;

}

.b1 {
	/*position*/
	/* margin: 91px 25% 0px; */

	/*block model*/
	height: 76px;
	width: 522px;

	/*tipografic*/
	text-decoration: none;
	font-family: Montserrat Semibold;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	color: #FFFFFF;

	/*decoration*/

	background: linear-gradient(92.05deg, #8F00FF 8.18%, #6100FF 91.01%);
	box-shadow: 0px 2px 23px rgba(100, 1, 255, 0.48);
	border-radius: 32px;


	border-radius: 32px;
	border-style: none;



}

.Portfolio {
	/*position*/
	/*block model*/
	width: 1177px;
	height: 961px;
	display: block;
	margin-bottom: 175px;

	/*tipografic*/
	/*decoration*/


}

.Portfolio_title {
	color: white;
	font-family: Neue Machina Bold;
	font-style: normal;
	font-size: 64px;
	padding-bottom: 55px;

}

.strelkas {
	/* margin: 16px 0px 65px 28px; */
	width: 98px;
	height: 38.73px;

}

.q_and_a {
	margin: auto;
	/*position*/
	/*block model*/
	/*tipografic*/
	/*decoration*/
}

.questions_title {
	color: white;
	font-family: Neue Machina Bold;
	font-style: normal;
	font-size: 64px;
	line-height: 120%;

}

.questions_subtitle {
	/* margin-top: 12px; */
	color: white;
	font-family: Montserrat Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 160%;
	opacity: 0.8;

}

input {
	/*position*/
	/*block model*/
	box-sizing: border-box;
	width: 453px;
	height: 78px;
	/*  margin-right: 17px;
    margin-top: 41px; */

	/*tipografic*/
	font-family: Montserrat Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	text-decoration: none;
	line-height: 160%;

	/*decoration*/
	border: 1px solid #E0E3EF;
	border-radius: 8px;
	background: none;
	color: #FFFFFF;







}

input:focus {
	/*position*/
	/*block model*/
	box-sizing: border-box;
	width: 453px;
	height: 78px;
	/*  margin-right: 17px;
    margin-top: 41px; */

	/*tipografic*/
	font-family: Montserrat Semibold;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 160%;

	/*decoration*/
	border: 1px solid #E0E3EF;
	border-radius: 8px;
	background: none;
	color: #FFFFFF;





}


.b2 {
	/*position*/
	position: absolute;

	/*block model*/
	width: 232px;
	height: 78px;
	/* margin-left: 940px;
    margin-top: -78px; */

	/*tipografic*/
	font-family: Montserrat Semibold;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 32px;

	/*decoration*/
	background: linear-gradient(92.05deg, #8F00FF 8.18%, #6100FF 91.01%);
	border-style: none;
	border-radius: 40px;
	border-radius: 40px;
	color: white;







}

.Contacts {
	/*position*/
	/*block model*/
	/* margin-top: 175px; */
	display: block;
	/*tipografic*/
	/*decoration*/
	color: #FFFFFF;




}

.Contacts_title {
	font-family: Neue Machina Bold;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 62px;
	/* margin-bottom: 52px; */
}

.mail_title {
	position: relative;
	/* margin-top: 52px; */
}

.email {
	/*position*/
	/*block model*/

	/*tipografic*/
	font-family: Montserrat Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	/*decoration*/

}

.email_subtitle {
	/*position*/
	/*block model*/
	/* margin-top: 10px; */
	display: block;

	/*tipografic*/
	font-family: Montserrat Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-decoration: none;

	/*decoration*/
	color: #FFFFFF;
}

.phone {
	position: absolute;
	/* margin-left: 322px;
    margin-top: -68px; */
}

.phone_title {
	font-family: Montserrat Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

}

.number {
	/*position*/
	/* margin-top: 9px; */
	/*block model*/

	/*tipografic*/
	text-decoration: none;
	font-family: Montserrat Regular;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px
		/*decoration*/



}

.socialnetwork {
	/*position*/
	/*block model*/
	/* margin-left: 563px;
    margin-top: -68px; */

	/*tipografic*/
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	/*decoration*/

}

.socnet {

	font-family: Montserrat Medium;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

}

.aaalo {
	text-decoration: none;
	color: #FFFFFF;
	font-family: Graphik LCG Regular;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	position: relative;


}

.Location {
	/* margin-top: 44px; */
	text-decoration: none;
	color: #FFFFFF;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;

}

.loclink {
	text-decoration: none;
	color: #FFFFFF;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;

}

.stickers {
	/* margin-left: 695px;
    margin-top: -150px; */
	float: right;
}

.footer {
	margin: auto;
	/*position*/
	/*block model*/
	/* margin-top: 52.66px; */

}

.hrr {
	width: 1091px;
	/* margin-left: 79px; */
	border: 1px solid #FFFFFF;
	border-radius: 1px;
	opacity: 0.16;


}

.starr {

	/*  margin-right: 33px;
    margin-top: -144px; */
	float: left;
}

.tit {
	font-family: Montserrat Light;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 160%;
}

.disign {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 160%;
	/*  margin-left: 981px;
    margin-top: -29px; */

}



::placeholder {
	font-family: Montserrat Regular;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 160%;
	color: #FFFFFF;
	padding: 20px 285px 20px 16px;

}